
#title { text-align: center; font-family: 'Dancing Script', Georgia, Times, serif; 
            padding: 20px; font-size: 59px; line-height: 60px; }

#body { width: 1100px; margin: 0 auto; padding: 40px;}

#drawingtoolscontainer { position: relative; float: left; padding: 5px; }
#drawingtools .ui-selecting { background: #FECA40; }
#drawingtools .ui-selected { background: #F39814; color: white; }
#drawingtools { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#drawingtools li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

#submissioncontainer { position: relative; float: left; padding: 5px; }
#submissionoptions .ui-selecting { background: #FECA40; }
#submissionoptions .ui-selected { background: #F39814; color: white; }
#submissionoptions { list-style-type: none; margin: 0; padding: 0; width: 100%; }
#submissionoptions li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

#canvascontainer { position: relative; float: left; }
#imageView { border: 1px solid #000; }
#imageTemp { position: absolute; top: 1px; left: 1px; }
